#get {
    background-color: #4EA6EA;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 240px;
    margin-top: -30px;
    
}
#get:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
body{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#table{
      border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 1px #888888;
    margin-top: 50px;

}

input[type=text] {
  height:17px;
  border: 0;
  width: calc(40% - 2px);
  margin-left:1px;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
input[type=text]:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
}
#entercode{
    margin-left: 6px;
}